*{
    font-family: 'Optima', sans-serif;                         
}
nav{
    background-color: #160d26;
}

.img_logo{
    border-radius: 60%;     
    overflow: hidden;     
    width: 50px;
}

.btn_suscribirse{
    margin-bottom: 10px;
}

.btn_menu{
    outline: 1px solid white;
}


@media screen and (min-width:992px) {
    .btn_suscribirse{
        margin-top: 4px;
        margin-right: 15px;
    }
    
}